{% extends 'dashboard/header_footer.html' %} {% load static %} {% block title %} Activate Product {% endblock %} {% block css %} {% endblock %} {% block js %}



<script>

    window.setInterval(function(){
        getImage();
    } , 50);

    var WS;
    var WS_CONNECTION_OPEN = false;
    function connectToWebsocket(){
        WS = new WebSocket("ws://127.0.0.1:8000");
        WS.onopen = event => {
            WS_CONNECTION_OPEN = true;
            console.log("connection opened");
            console.log(event);
        };
        
        WS.onclose = event => {
            WS_CONNECTION_OPEN = false;
            console.log("connection closed");
            console.log(event);
        };
        WS.onmessage = event => {
            data = event.data.substring(2 , event.data.length - 1);

            var image = document.getElementById("camtest");
            image.src = 'data:image/png;base64,' + data;

            //$("#camtest").setAttribute("src" , "data:image/png;base64,"+data);            
        };
    }

    function getImage(){
        if(WS_CONNECTION_OPEN)
            WS.send("image");
        else{
            connectToWebsocket();
        }
    }   

</script>

<script>
    function ActivateKey() {
        var key = $("#key").val();
        
        $.ajax({
            type: 'GET',
            url: "/license/decrypt/",
            data: {
                "key": key
            },
            success: function(response) {
                Swal.fire(response["message"]);                
            },
            error: function(xhr, status, error) {
                console.log(error)
                Swal.fire(error);
                //var err = ("(" + xhr.responseText + ")");
                //Swal.fire(err.Message);
            }
        });
    }
</script>
{% endblock %} {% block title_header %}Activate{% endblock %} {% block content %}
<section class="col-md-4" style="padding: 20px; left: 50%; transform: translate(-50% , 0);">
    <h1> {% if data <= 0 %} License Expired. {% else %} {{data}} Days Left {% endif %} </h1>
    <form>
        <fieldset>
            <div class="mb-3">
                <label for="key" class="form-label" style="text-align: left; width: 100%;">Enter Activation Key</label>
                <input type="text" class="form-control col-md-2" id="key" name="key" placeholder="AKUS-1234-5654-AKUS">
            </div>
            <br><br>
            <input type="button" onclick="ActivateKey()" class="btn btn-primary" value="Activate">
        </fieldset>
    </form>

    <img id="camtest" src="" height="500" width="500"> </img>

</section>

{% endblock %}