 {% extends 'dashboard/header_footer.html' %}{% load static %} {% block title %} Network {% endblock title %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/datatable.css' %}">
<style>
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: -13px;
        padding: 20px 10px;
        background-color: #fff;
        height: 70px;
        border-radius: 5px;
        transition: .3s linear all;
    }
    
    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }
    
    .card-counter.primary {
        background-color: #007bff;
        color: #FFF;
    }
    
    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }
    
    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }
    
    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }
    
    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }
    
    .card-counter .count-numbers {
        position: relative;
        text-align: center;
        right: 2px;
        top: -25px;
        font-size: 32px;
        display: block;
    }
    
    .card-counter .count-name {
        position: relative;
        top: -25px;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
        text-align: center;
    }
    
    fieldset.scheduler-border {
        /* border: 1px groove #ddd !important; */
        padding: 0 1.4em 1.4em 1.4em !important;
        /* margin: 0 0 1.5em 0 !important; */
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 2px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .15), 0 8px 8px rgba(0, 0, 0, .15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 2px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .15), 0 8px 8px rgba(0, 0, 0, .15);
    }
    
    legend.scheduler-border {
        font-size: 1em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
    
    .col-md-offset-1 {
        margin-left: 2.333%;
    }
    
    .container {
        width: 100%;
    }
    
    .headerCol {
        width: 14.667%;
    }
    
    .card {
        background: #fff;
        color: black;
        box-shadow: 0 0 1px #232323;
        text-align: left;
        margin-bottom: 12px;
    }
    
    .chartbtn {
        position: relative;
        background: none;
        border: none;
        font-size: 11px;
        right: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .chartBtnSelection {
        color: green;
        font-weight: bolder;
    }
    
    .indSmry {
        background: #ffffff;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .divIndSmry {
        position: aboslute;
        top: 50%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    
    .myterminal {
        padding: 20px;
        height: auto;
        width: 100%;
    }
    
    .cmdoutput {
        text-align: left;
        margin-top: 10px;
        margin-left: 4%;
    }
    
    .runcmd {
        padding: 5px;
        width: 100%;
    }
    
    .terminal .cmd {
        width: 96%;
        float: right;
    }
    
    .terminal .cmdexe {
        width: 3%;
        float: left;
    }
    
    .addnewterminal {
        border: 0px;
        outline: none;
        background: transparent;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    
    .removeterminal {
        border: 0px;
        font-size: 20px;
        outline: none;
        background: transparent;
        margin-bottom: 5px;
        margin-left: 99%;
    }
    
    .closeterminal {
        position: relative;
        top: -17px;
    }
</style>
{% endblock %} {% block js %}
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    function executeCmd(cmd, input, ele, runbtn, host, user, pwd) {
        $(ele).html("");
        if (cmd != "") {
            data = {
                'host': host,
                'cmd': cmd,
                'input': input,
                'user': user,
                'pwd': pwd,
            }
            $.post('/terminal/data/ssh/', data, function(data, status) {
                var statuscode = data["status"]
                if (statuscode == 0) $(runbtn).css('color', 'green')
                else $(runbtn).css('color', 'red');
                $(ele).html("<pre>" + data["res"] + "</pre>");
                $(ele).append("<i class='fa fa-clone'></i>");
            })
        } else {
            $(ele).html("<pre>" + "Enter command" + "</pre>");
        }
    }
    $('body').on('click', '.fa-clone', function() {
        var res = $(this).prev();
        $(this).html(" Copied to clipboard!!");
        copyToClipboard(res);
        setTimeout(function() {
            $(".fa-clone").html("");
        }, 2000);
    })

    $('body').on('click', '.runcmd', function() {
        var input = null;
        var host = $(this).data("host");
        var user = $(this).data("user");
        var pwd = $(this).data("pwd");
        var cmd = $(this).parent().prev().children().val();
        if ((cmd.includes("cat >")) || (cmd.includes("cat>"))) {
            input = prompt("Enter Text");
        }
        var res = $(this).parent().next().next().children()[0];
        var runbtn = $(this);
        var data = executeCmd(cmd, input, res, runbtn, host, user, pwd);
    })
    $('body').on('keypress', '.runcmdonenter', function(e) {
        var input = null;
        var key = e.which;
        var host = $(this).data("host");
        var user = $(this).data("user");
        var pwd = $(this).data("pwd");
        var cmd = $(this).val();
        var res = $(this).parent().next().next().next().children()[0];
        var runbtn = $(this).parent().next().children();
        if (key == 13) // the enter key code
        {
            if ((cmd.includes("cat >")) || (cmd.includes("cat>"))) {
                input = prompt("Enter Text");
            }
            var data = executeCmd(cmd, input, res, runbtn, host, user, pwd);
            return false;
        }
    });
</script>
{% endblock js %} {% block title_header %}Network{% endblock %} {% block content %}
<!-- Modal -->
<div class="modal fade" id="sshterminal" role="dialog">
    <div class="modal-dialog" style='width:70%'>

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--MODAL END-->
<div class="container">
    <div class="row">
        {% comment %} {% endcomment %}
        <div class="card col-lg-12 indSmry">
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Asset Devices</p>
                <div style="position:absolute; right: 20px;"></div>
                <p class="divIndSmry" id="totalDevices"></p>
            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Network Devices</p>
                <div style="position:absolute; right: 20px;"></div>
                <p class="divIndSmry" id="totalInterfaceDevice"></p>
            </div>
            <div class="col-md-2" style="height: 70px; background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Inbound</p>
                <div style="position:absolute; right: 20px;" id=""></div>
                <p class="divIndSmry" id="totalInbound"></p>
            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Outbound</p>
                <div style="position:absolute; right: 20px;" id=""></div>
                <p class="divIndSmry" id="totalOutbound"></p>
            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Interfaces</p>
                <div style="position:absolute; right: 20px;" id=""></div>
                <p class="divIndSmry" id="totalInterfaces"></p>
            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">
                <p style="font-size: 11px;text-align: center; font-weight: 700;">Total Wattage</p>
                <div style="position:absolute; right: 20px;" id=""></div>
                <p class="divIndSmry" id="totalWattage"></p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="card col-lg-6">

            <div class="card-body" data-type="">
                <h5 style="font-weight: bold;">Top 5 CPU Usage</h5>
                <p class="card-text">
                    <table class="table" id="top5cpu">
                        <thead>
                            <tr>
                                <td> Device </td>
                                <td> Packets Inbound </td>
                                <td> Packets Outbound </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </p>
            </div>
        </div>
        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;" id="storage-total"></h5>
            </div>
        </div>
        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;" id="storage-ram"></h5>

                <p class="card-text"></p>
            </div>
        </div>
        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;" id="storage-swap"></h5>
                <p class="card-text"></p>
            </div>
        </div>

        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Packets</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="ramSummaryGRAPH"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Packets Error</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="pkterrGRAPH"></canvas>
                </p>
            </div>
        </div>




    </div>
    <!--         
        <div class="card col-lg-6">
            <div class="card-body" data-type="">
                <h5 style="font-weight: bold;">Top 5 Busy Devices</h5>
                <p class="card-text">
                    <table class="table" id="top5busy">
                        <thead>
                            <tr>
                                <td> Device </td>
                                <td> Packets </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Device One</td>
                                <td> 100000 </td>
                            </tr>
                            <tr>
                                <td> Device One</td>
                                <td> 100000 </td>
                            </tr>
                            <tr>
                                <td> Device One</td>
                                <td> 100000 </td>
                            </tr>
                            <tr>
                                <td> Device One</td>
                                <td> 100000 </td>
                            </tr>
                            <tr>
                                <td> Device One</td>
                                <td> 100000 </td>
                            </tr>
                        </tbody>
                    </table>

                </p>
            </div> 
        </div>-->

    <!--  -->

    <div class="row">
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Storage Utilization</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="tempGRAPH2"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Swap Utilization</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="tempGRAPH3"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">WEEKLY STATS</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="tempGRAPH1"></canvas>
                </p>
            </div>
        </div>


        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Ram Utilization</h5>
                <p class="card-text" style="height:182px">
                    <canvas id="storageSummaryGRAPH"></canvas>
                </p>
            </div>
        </div>
    </div>

    <!--  -->
    {% comment %} {% endcomment %}
</div>
</div>



<div class="form-group" style="padding-left:0px;margin-right:0px">
    <div class="col-lg-10" style="padding-left:0px;">
        <label for="sel1">Select Device:</label>
        <select class="form-control" id="allNetworkDevices">
            <option disabled selected>Select Device</option>
        </select>
    </div>
    <div class="col-lg-2 please" style="margin-top:25px;padding-right:0px;display: flex;">
        <a href="/topology/" class="btn btn-primary" style="width:50%">Topology</a>&nbsp;<a href="/patches/?type=network" class="btn btn-primary" style="width:50%">Orchestration</a>
    </div>
</div><br><br><br>
<div id="favouritebtn" style="text-align: center;"></div>
<br>
<div id="container" style="display:none">
    <div class="row" style="margin-left:0px; margin-right:0px">

        <div class="card col-lg-12">
            <table class="table" id="sysinfoTable">
                <tbody></tbody>
            </table>
        </div>

        {% comment %} {% endcomment %}
        <div class="card col-lg-12 indSmry">
            <div class="col-md-2" style="height: 70px; background-color: whitesmoke;">
                <p style="font-size: 10px;text-align:center;">UPTIME</p>
                <div style="position:absolute; right: 20px;" id="myDiv9"></div>

                <p class="divIndSmry" id="sysUptime"></p>
            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">

                <p style="font-size: 10px;text-align:center;">Total Interfaces</p>
                <div style="position:absolute; right: 20px;"></div>
                <p class="divIndSmry" id="totalInterface"></p>

            </div>
            <div class="col-md-2" style="height: 70px; background-color: whitesmoke;">

                <p style="font-size: 10px;text-align:center;">Admin Status</p>
                <div style="position:absolute; right: 20px;" id="myDiv11"></div>
                <p class="divIndSmry" id="totaladminUP"></p>

            </div>
            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">

                <p style="font-size: 10px;text-align:center;">Port Status</p>
                <div style="position:absolute; right: 20px;" id="myDiv12"></div>
                <p class="divIndSmry" id="totalPortUp"></p>

            </div>

            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">

                <p style="font-size: 10px;text-align:center;">Packet IN</p>
                <div style="position:absolute; right: 20px;" id="myDiv13"></div>
                <p class="divIndSmry" id="pktIn"></p>

            </div>

            <div class="col-md-2" style="height: 70px;  background-color: whitesmoke;">

                <p style="font-size: 10px;text-align:center;">Packet Out</p>
                <div style="position:absolute; right: 20px;" id="myDiv13"></div>
                <p class="divIndSmry" id="pktOut"></p>

            </div>
        </div>
        {% comment %} {% endcomment %}




        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Temp</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="cpuTemp"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">STORAGE</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="storageGRAPH"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">IOWAT</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="iowaitGRAPH"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">CPU %</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="cpuUtilGRAPH"></canvas>
                </p>
            </div>
        </div>
        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">RAM</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="ramGRAPH"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-2">
            <div class="card-body">
                <h5 class="card-title">SWAP MEMORY</h5>
                <p class="card-text" style="height:198px">
                    <canvas id="virtualGRAPH"></canvas>
                </p>
            </div>
        </div>

        <div class="card col-lg-6">

            <div class="card-body" data-type="ramline">
                <h5 class="card-title">RAM</h5>
                <p class="card-text" style="height:300px">
                    <canvas id="ramlineGRAPH"> </canvas>
                </p>
            </div>
        </div>
        <div class="card col-lg-6">
            <div class="card-body" data-type="cpu">
                <h5 class="card-title">CPU Core</h5>
                <p class="card-text" style="height:300px">
                    <canvas id="cpuGRAPH"> </canvas>
                </p>
            </div>
        </div>

        <div class="col-lg-12" style="text-align: center;">
            <i class='fa fa-angle-double-down showmoredetails' style='font-size:30px;'></i>
        </div>
        <div class="card col-lg-12" style="display:none;margin-top:10px;padding: 0px;">
            <div class="card-body" id="interfaces">
                <table border="1" class="table" id="interfaceTable">
                    <thead>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>ADMIN</th>
                        <th>PORT</th>
                        <th>MTU</th>
                        <th>SPEED</th>
                        <th>IN OCTET</th>
                        <th>OUT OCTET</th>
                        <th>ERROR IN</th>
                        <th>ERROR OUT</th>
                        <th>MAC</th>
                    </thead>
                    <tbody></tbody>
                </table>
                <table border='1' class='table' id='APStat' style="display:none;">
                        <thead>
                            <tr><td>CPU Usage</td><td>No. of Joint AP</td><td>Total No. of Client</td></tr>
                        </thead>

                        <tbody>
                        <tbody>

                </table>
                <div class="table-responsive" style="display:none;" id="APDivtbl">
                    <table border='1' class='table' id='APTbl1'>
                        <thead>
                            <tr>
                                <th>bsnAPName</th>
                                <th>bsnAPLocation</th>
                                <th>bsnAPMonitorOnlyMode</th>
                                <th>bsnAPOperationStatus</th>
                                <th>bsnAPSoftwareVersion</th>
                                <th>bsnAPBootVersion</th>
                                <th>bsnAPPrimaryMwarName</th>
                                <th>bsnAPReset</th>
                                <th>bsnAPStatsTimer</th>
                                <th>bsnAPPortNumber</th>
                                <th>bsnAPModel</th>
                                <th>bsnAPSerialNumber</th>
                                <th>bsnAPClearConfig</th>
                                <th>bsnApIpAddress</th>
                                <th>bsnAPType</th>
                                <th>bsnAPIsStaticIP</th>
                                <th>bsnAPNetmask</th>
                                <th>bsnAPGateway</th>
                                <th>bsnAPStaticIPAddress</th>
                                <th>bsnAPBridgingSupport</th>
                                <th>bsnAPGroupVlanName</th>
                                <th>bsnAPIOSVersion</th>
                                <th>bsnAPCertificateType</th>
                                <th>bsnAPEthernetMacAddress</th>
                                <th>bsnAPAdminStatus</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <table border='1' class='table' id='APTbl' style="display:none;">
                    <thead>
                        <tr>
                            <th>Profile Namwe</th>
                            <th>Row Status</th>
                            <th>SSID</th>
                            <th>Wires</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <table border='1' class='table' id='systemIPAdrTbl'>
                    <thead>
                        <tr>
                            <th>INDEX</th>
                            <th>IP ADDRESS</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>

<script src="{% static '/dashboard/js/plotly.js' %}"></script>
<script src="{% static '/dashboard/js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static '/dashboard/js/echarts.min.js' %}"></script>
<script type="text/javascript" src="{% static '/dashboard/js/echarts-liquidfill.min.js' %}"></script>
<script src="{% static '/graphs/bargraph.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'dashboard/js/datatable.js' %}"></script>

{{ snmpdevices|json_script:"snmpdevices" }}
<script>
    $(document).on('click', '.showmoredetails', function() {
        $(this).removeClass('showmoredetails');
        $(this).addClass('hidemoredetails');
        var me = $(this).parent().next().css('display', 'block');
    })
    $(document).on('click', '.hidemoredetails', function() {
        $(this).removeClass('hidemoredetails');
        $(this).addClass('showmoredetails');
        var me = $(this).parent().next().css('display', 'none');
    })
    var GLOBAL_HOST = false;

    function getSummary() {

        $.ajax({
            "type": "GET",
            "url": "/networksummary/",
            success: function(response) {
                data = response["data"];
                $("#totalDevices").html(data["totalDevice"]);
                $("#totalInterfaceDevice").html(data["totalInterfaceDevice"]);
                $("#totalInterfaces").html(data["interface"]);
                $("#totalWattage").html((data["totalWatt"]).toFixed(2));
            },
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                Swal.fire(err.Message);
            }
        });
    }
    getSummary();
    setInterval(function() {
        getSummary();
    }, 2000);

    function summary() {
        $.get("/summary/network/data/", {}, function(data, status) {
            data = data["data"];
            var busy_device = data["busy_devices"];

            var top5cpu = "";
            //busy devices
            //console.log("BSYYYY", busy_device);
            totalDeviceKeys = 0;
            TOT_IN = 0;
            TOT_OUT = 0;
            for (var i in busy_device) {
                totalDeviceKeys++;
                inb = busy_device[i]["inbound"]
                out = busy_device[i]["outbound"]
                TOT_IN += inb;
                TOT_OUT += out;
                $("#top5cpu tbody").append(`<tr><td>
                    ${busy_device[i]["name"]}</td><td>${niceBytes(inb)}</td><td>${niceBytes(out)}
                    </td></tr>`);
            }

            if (totalDeviceKeys > 0) {
                $("#totalInbound").html(niceBytes(TOT_IN / totalDeviceKeys));
                $("#totalOutbound").html(niceBytes(TOT_OUT / totalDeviceKeys));
            } else {
                $("#totalInbound").html(0);
                $("#totalOutbound").html(0);
            }

            if (totalDeviceKeys < 5) {
                while (totalDeviceKeys != 5) {
                    totalDeviceKeys++;
                    $("#top5cpu tbody").append(`<tr><td>&nbsp;</td><td></td><td></td></tr>`)
                }
            }

            //
            $("#storage-total").html("Total Storage: " + data["storage_total"] + " GB");
            $("#storage-ram").html("Total Ram: " + data["ram_total"] + " GB");
            $("#storage-swap").html("Total Swap: " + data["swap_total"] + " GB");

            //GRAPHS
            var temp1 = document.getElementById("tempGRAPH1").getContext('2d');
            var temp2 = document.getElementById("tempGRAPH2").getContext('2d');
            var temp3 = document.getElementById("tempGRAPH3").getContext('2d');
            var temp5 = document.getElementById("storageSummaryGRAPH").getContext('2d');
            var temp6 = document.getElementById("ramSummaryGRAPH").getContext('2d');
            var temp10 = document.getElementById("pkterrGRAPH").getContext('2d');
            var myChart = new Chart(temp2, {
                type: 'line',
                data: {
                    labels: data["groups"],
                    datasets: [{
                        label: 'Storage', // Name the series
                        data: data["storage_used_groups"], // Specify the data values array
                        fill: false,
                        borderColor: '#0000ff', // Add custom color border (Line)
                        backgroundColor: '#0000ff', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
            var myChart = new Chart(temp3, {
                type: 'line',
                data: {
                    labels: data["groups"],
                    datasets: [{
                        label: 'Swap Memory', // Name the series
                        data: data["swap_available_groups"], // Specify the data values array
                        fill: false,
                        borderColor: '#ff0080', // Add custom color border (Line)
                        backgroundColor: '#ff0080', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
            var myChart = new Chart(temp5, {
                type: 'line',
                data: {
                    labels: data["groups"],
                    datasets: [{
                        label: 'Memory', // Name the series
                        data: data["ram_used_groups"], // Specify the data values array
                        fill: false,
                        borderColor: '#00cccc', // Add custom color border (Line)
                        backgroundColor: '#00cccc', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
            var myChart = new Chart(temp6, {
                type: 'bar',
                data: {
                    labels: ["Inbound", "Outbound"],
                    datasets: [{
                        label: 'Data In/ Out', // Name the series
                        data: [data["total_inbound"], data["total_outbound"]], // Specify the data values array
                        fill: false,
                        borderColor: '#e600e6', // Add custom color border (Line)
                        backgroundColor: '#e600e6', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
            var myChart = new Chart(temp10, {
                type: 'bar',
                data: {
                    labels: ["Inbound Err", "Outbound Err"],
                    datasets: [{
                        label: 'Data InErr/ OutErr', // Name the series
                        data: [data["total_inbound_err"], data["total_outbound_err"]], // Specify the data values array
                        fill: false,
                        borderColor: '#ffbb00', // Add custom color border (Line)
                        backgroundColor: '#ffbb00', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
            var myChart = new Chart(temp1, {
                type: 'bar',
                data: {
                    labels: data["groups"],
                    datasets: [{
                        label: 'Weekly Report', // Name the series
                        data: data["ram_used_groups"], // Specify the data values array
                        fill: false,
                        borderColor: '#00ff40', // Add custom color border (Line)
                        backgroundColor: '#00ff40', // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });

        })
    }
    summary();

    
    console.log("pinting snmp devices data");
    var snmpDevices = JSON.parse(document.getElementById("snmpdevices").textContent);
    console.log(snmpDevices);

    for (key in snmpDevices) {
        $("#allNetworkDevices").append("<option data-cstr='" + snmpDevices[key]["cstr"] + "' data-user='" + snmpDevices[key]["user"] + "' data-pwd='" + snmpDevices[key]["pwd"] + "' data-tag=" + snmpDevices[key]["name"] + " value=" + snmpDevices[key]["ip"] + " >" + snmpDevices[key]["ip"] + "</option>")
    }
</script>
<script>
    var interval;
    $('#allNetworkDevices').on('change', function() {
        clearInterval(interval);
        //var name = $(':selected', $(this)).data('tag')
        //console.log(name);
        
        var host = this.value;
        var user = $(this).find(':selected').data("user");
        var pwd = $(this).find(':selected').data("pwd");
        var cstr = $(this).find(':selected').data("cstr");
        GLOBAL_HOST = this.value;
        //console.log("Triggered to change the dashboard")
        $("#favouritebtn").html("<h2><span data-host='" + host + "' class='makefavourite' title='Make Favourite'><i class='fa fa-star'></i></span> | <span data-host='" + host + "' class='threshold' title='Threshold Settings'><i class='fa fa-cog'></i></span> | <span data-host='" + host + "' class='oid'><i class='fa fa-desktop' title='Custom OID'></i></span></h2>");
        try {
            //Statistics(host, cstr);
            //setInterval(function() {Statistics(host);}, 2000);
            var interval = setInterval(function() {Statistics(host, cstr)}, 5000);
            $("#container").css("display", "block");
        } catch {
            $("#container").css("display", "none");
        }
    });
</script>
<script>
    //ADD TRAILING 0 TO SINGLE DIGIT IN UPTIME

    function niceBytes(x){

        var units = ["MB", "GB", "TB", "PB", "EB", "ZB", "YB"]
        let l = 0, n = parseFloat(x, 10) || 0;

        while(n >= (1024) && ++l){
            n = n/1024;
        }

        return(n.toFixed(3) + ' '+units[l])

    }
    function AddZero(n) {
        return (n < 10 ? '0' : '') + n;
    }
    // FUNCTION FOR SYSTEM UPTIME
    function uptimeTOdays(sec) {
        time = Number(sec) / 100;
        var d = Math.floor(time / (3600 * 24));
        time = Math.floor(time % (3600 * 24))
        var h = Math.floor(time / 3600);
        time = Math.floor(time % 3600)
        var m = Math.floor(time / 60);
        time = Math.floor(time % 60)
        var s = time

        var dDisplay = d > 0 ? d + (d == 1 ? "D " : "D ") : "";
        var hDisplay = h > 0 ? h + (h == 1 ? "H  " : "H : ") : "";
        var mDisplay = m > 0 ? m + (m == 1 ? "M : " : "M : ") : "";
        var sDisplay = s > 0 ? s + (s == 1 ? "S" : "S") : "";
        return (dDisplay + hDisplay + mDisplay + sDisplay).replace(/,\s*$/, "");
    }
    // bit to kb
    function bitToKB(bit) {
        return (bit * 0.125 / (1024 * 1024));
    }
</script>
<script>
    var temp7 = document.getElementById("cpuUtilGRAPH").getContext('2d');
    var temp8 = document.getElementById("virtualGRAPH").getContext('2d');
    var temp9 = document.getElementById("cpuTemp").getContext('2d');

    var temp15 = document.getElementById("storageGRAPH").getContext('2d');
    var temp16 = document.getElementById("iowaitGRAPH").getContext('2d');
    var temp17 = document.getElementById("ramGRAPH").getContext('2d');


    var temp19 = document.getElementById("ramlineGRAPH").getContext('2d');
    var temp20 = document.getElementById("cpuGRAPH").getContext('2d');


    var cpuutilChart = new Chart(temp7, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Cpu Utilization', // Name the series
                data: [], // Specify the data values array
                fill: false,
                borderColor: ["#129900", "#e21212"], // Add custom color border (Line)
                backgroundColor: ["#129900", "#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });
    var virtualChart = new Chart(temp8, {
        type: 'pie',
        data: {
            labels: ["Total", "Used"],
            datasets: [{
                label: 'Swap Memory', // Name the series
                data: [0, 0], // Specify the data values array
                fill: false,
                borderColor: ["#129900", "#e21212"], // Add custom color border (Line)
                backgroundColor: ["#129900", "#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });
    var cputempChart = new Chart(temp9, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'CPU Temp', // Name the series
                data: [], // Specify the data values array
                fill: false,
                borderColor: '#00ff40', // Add custom color border (Line)
                backgroundColor: '#00ff40', // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    var storageChart = new Chart(temp15, {
        type: 'pie',
        data: {
            labels: ["Storage Used"],
            datasets: [{
                label: 'Storage', // Name the series
                data: [0], // Specify the data values array
                fill: false,
                borderColor: ["#129900", "#e21212"], // Add custom color border (Line)
                backgroundColor: ["#129900", "#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    var iowaitChart = new Chart(temp16, {
        type: 'pie',
        data: {
            labels: ["Total", "Used"],
            datasets: [{
                label: 'IOWAIT', // Name the series
                data: [0, 0], // Specify the data values array
                fill: false,
                borderColor: ["#129900", "#e21212"], // Add custom color border (Line)
                backgroundColor: ["#129900", "#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    var ramChart = new Chart(temp17, {
        type: 'pie',
        data: {
            labels: ["Total", "Used"],
            datasets: [{
                label: 'RAM', // Name the series
                data: [0, 0], // Specify the data values array
                fill: false,
                borderColor: ["#129900", "#e21212"], // Add custom color border (Line)
                backgroundColor: ["#129900", "#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    var ramutilChart = new Chart(temp19, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Ram Utilization', // Name the series
                data: [], // Specify the data values array
                fill: false,
                borderColor: ["#e21212"], // Add custom color border (Line)
                backgroundColor: ["#e21212"], // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    var cpu_utilChart = new Chart(temp20, {
        type: 'bar',
        data: {
            labels: ["Core Utilization"],
            datasets: []
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });

    function removeData(chart) {
        chart.data.labels.shift();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.shift();
        });
        chart.update();
    }

    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        if (chart.data.labels.length >= 10) {
            removeData(chart);
            return;
        }
        chart.update();
    }



    function Statistics(host, cstr) {
        //clearInterval(interval);
        var datas = {
            "host": host,
            "cstr": cstr,
        }
        
        $.post("/getsnmp/", datas, function(data, status) {
            $("#sysinfoTable tbody").html("");
            $("#interfaceTable tbody").html("");
            $("#systemInterfaceTbl tbody").html("");
            $("#systemIPAdrTbl tbody").html("");
            data = data["data"]
            if (data == undefined) {
                $("#sysinfoTable tbody").html("No Response Before Time Out.");
                return false;
            }
            //assets = data["assets"];
            //cpu = data["cpu"];
            //cpulabel = data["cpuLables"];
            var html = "";
            html += "<tr><th>IP ADDRESS</th><td>" + host + "</td><tr>";
            //html += "<tr><th>ASSET TAG</th><td>" + assets["Device_Asset_Tag"] + "</td><tr>";
            //html += "<tr><th>OWNER</th><td>" + assets["deviceOwner"] + "</td><tr>";
            //html += "<tr><th>RACK LOCATION</th><td>" + assets["Unit_Location"] + "</td><tr>";
            html += "<tr><th>NAME</th><td>" + data["sysname"] + "</td><tr>";
            html += "<tr><th>DESCRIPTION</th><td>" + data["sysdescr"] + "</td><tr>";
            html += "<tr><th>LOCATION</th><td>" + data["syslocation"] + "</td><tr>";
            html += "<tr><th>CONTACT</th><td>" + data["syscontact"] + "</td><tr>";
            html += "<tr><th>SERIAL NUMBER</th><td>" + data["serialNum"] + "</td><tr>";
            $("#sysUptime").html(uptimeTOdays(data["sysuptime"]));
            $("#sysinfoTable tbody").html(html);


            storage = data["hrstorage"] // all storage
            if (storage != undefined) {
                for (var i in storage) {
                    total = 0
                    used = 0
                    temp = storage[i]
                    type = "";
                    if (temp["hrtoragedescr"] == "Virtual Memory") {
                        type = "virtual"
                    } else if (temp["hrtoragedescr"] == "Physical Memory") {
                        type = "physical"
                    } else {
                        type = "storage"
                    }
                    total = (temp["hrstoragesize"] * temp["hrtoragealloc"]) / 1073741824
                    used = (temp["hrstorageused"] * temp["hrtoragealloc"]) / 1073741824
                    if (type == "storage") {
                        console.log("STORAGE", total, used)
                        storageChart.data.datasets[0].data[0] = total;
                        storageChart.data.datasets[0].data[1] = used;
                    } else if (type == "virtual") {
                        console.log("VIRTUAL", total, used)
                        virtualChart.data.datasets[0].data[0] = total;
                        virtualChart.data.datasets[0].data[1] = used;
                    } else if( type == "physical") {
                        console.log("RAM", total, used)
                        ramChart.data.datasets[0].data[0] = total;
                        ramChart.data.datasets[0].data[1] = used;
                        addData(ramutilChart, "1", used);
                    }
                    else{
                        console.log("IDK")
                    }
                    
                }
            }

            cpu_utils = data["cpuutil"]
                // console.log(cpu_utils)

            // iowaitChart.data.datasets[0].data[0] = 40;
            // iowaitChart.data.datasets[0].data[1] = 100;


            //addData(cpu_utilChart, "1", cpu_utils)
            //     //addData(cpu_utilChart,cpulabel,cpu);
            datasets = []
                //cpu_utilChart.data.labels.push(cpulabel);  
            var core = 0;
            for (var i in cpu_utils) {
                datasets.push({
                    label: 'Core ' + core, // Name the series
                    data: [cpu_utils[i]["cpuUtilization"]], // Specify the data values array
                    fill: false,
                    borderColor: '#00ff40', // Add custom color border (Line)
                    backgroundColor: '#00ff40', // Add custom color background (Points and Fill)
                    borderWidth: 1 // Specify bar border width
                })
                core++;
            }
            //console.log(datasets)
            cpu_utilChart.data.datasets = datasets;

            ramChart.update();
            //iowaitChart.update();
            storageChart.update();
            virtualChart.update();
            // addData(ramutilChart, cpulabel, data["ram_used"]);
            cpu_utilChart.update();

            interfaces = data["interfaces"]
            var AP1 = data["sbn"];
            var AP = data["AP"];
            var ipAddress = data["all_ipv4_addresses"];
            var totalInterface = Object.keys(interfaces).length;
            var adminUp = 0;
            var adminDown = 0;
            var adminUnknown = 0;
            var portUp = 0;
            var portDown = 0;
            var portUnknown = 0;
            var pktIn = 0;
            var pktOut = 0;

            var devHTML = "";
            var ipHTML = "";
            var apHTML = "";
            var apHTML1 = "";

            if (totalInterface > 0) {

                var html = "";
                for (var i in interfaces) {
                    //console.log(interfaces[i]["adminstatus"])
                    if (interfaces[i]["adminstatus"] == "up") {
                        adminUp += 1;
                        interfaces[i]["adminstatus"] = "<i class='fa fa-circle text-success'></i>";
                    } else if (interfaces[i]["adminstatus"] == "down") {
                        adminDown += 1
                        interfaces[i]["adminstatus"] = "<i class='fa fa-circle text-danger'></i>"
                    } else {
                        adminUnknown += 1
                        interfaces[i]["adminstatus"] = "<i class='fa fa-circle text-danger'></i>"
                    }
                    if (interfaces[i]["operstatus"] = "up") {
                        portUp += 1;
                        interfaces[i]["operstatus"] = "<i class='fa fa-circle text-success'>"
                    } else if (interfaces[i]["operstatus"] == "down") {
                        portDown += 1
                        interfaces[i]["operstatus"] = "<i class='fa fa-circle text-muted'>"
                    } else {
                        portUnknown += 1
                        interfaces[i]["operstatus"] = "<i class='fa fa-circle text-danger'>"
                    }

                    if(interfaces[i]["mtu"] == undefined){
                        interfaces[i]["mtu"] = 0;
                    }
                    if(interfaces[i]["speed"] == undefined){
                        interfaces[i]["speed"] = 0;
                    }
                    if(interfaces[i]["inOctect"] == undefined){
                        interfaces[i]["inOctect"] = 0;
                    }
                    if(interfaces[i]["outOctect"] == undefined){
                        interfaces[i]["outOctect"] = 0;
                    }
                    if(interfaces[i]["inErr"] == undefined){
                        interfaces[i]["inErr"] = 0;
                    }
                    if(interfaces[i]["outErr"] == undefined){
                        interfaces[i]["outErr"] = 0;
                    }

                    html += "<tr>"
                    html += "<td>" + interfaces[i]["name"] + "</td>";
                    html += "<td>" + interfaces[i]["description"] + "</td>";
                    html += "<td>" + interfaces[i]["adminstatus"] + "</td>";
                    html += "<td>" + interfaces[i]["operstatus"] + "</td>";
                    html += "<td>" + interfaces[i]["mtu"] + "</td>";
                    html += "<td>" + interfaces[i]["speed"] + "</td>";
                    html += "<td>" + interfaces[i]["inOctect"] + "</td>";
                    html += "<td>" + interfaces[i]["outOctect"] + "</td>";
                    html += "<td>" + interfaces[i]["inErr"] + "</td>";
                    html += "<td>" + interfaces[i]["outErr"] + "</td>";
                    html += "<td>" + interfaces[i]["mac"] + "</td>";
                    html += "</tr>"
                    $("#interfaceTable tbody").html(html);
                    pktIn += interfaces[i]["inOctect"];
                    pktOut += interfaces[i]["outOctect"];
                }
            }

            $("#systemInterfaceTbl tbody").html(devHTML);

            if (ipAddress != undefined) {
                for (var index in ipAddress) {
                    ipHTML += "<tr>\
                    <td>" + index + "</td>\
                    <td>" + ipAddress[index] + "</td>\
                    </tr>";
                }
                $("#systemIPAdrTbl tbody").html(ipHTML);
            }
            if (AP == undefined || AP == "No Such Object currently exists at this OID") {
                $("#APTbl").hide();
                $("#APTbl tbody").html("");
            }
            else{
                
                $("#APtbl").show();
                for (var index in AP) {
                    apHTML += "<tr>\
                <td>" + AP[index]["profileNames"] + "</td>\
                <td>" + AP[index]["row_status"] + "</td>\
                <td>" + AP[index]["ssid"] + "</td>\
                <td>" + AP[index]["wired"] + "</td>\
                </tr>";
                }
                $("#APTbl tbody").html(apHTML);
            }
            if (AP1 == undefined || AP1 == "No Such Object currently exists at this OID") {
                $("#APDivtbl").hide();
                $("#APTbl1 tbody").html("");
            }
            else{
                
                $("#APDivtbl").show();
                for (var index in AP1) {
                    apHTML1 += "<tr>\
                <td>" + AP1[index]["bsnAPName"] + "</td>\
                <td>" + AP1[index]["bsnAPLocation"] + "</td>\
                <td>" + AP1[index]["bsnAPMonitorOnlyMode"] + "</td>\
                <td>" + AP1[index]["bsnAPOperationStatus"] + "</td>\
                <td>" + AP1[index]["bsnAPSoftwareVersion"] + "</td>\
                <td>" + AP1[index]["bsnAPBootVersion"] + "</td>\
                <td>" + AP1[index]["bsnAPPrimaryMwarName"] + "</td>\
                <td>" + AP1[index]["bsnAPReset"] + "</td>\
                <td>" + AP1[index]["bsnAPStatsTimer"] + "</td>\
                <td>" + AP1[index]["bsnAPPortNumber"] + "</td>\
                <td>" + AP1[index]["bsnAPModel"] + "</td>\
                <td>" + AP1[index]["bsnAPSerialNumber"] + "</td>\
                <td>" + AP1[index]["bsnAPClearConfig"] + "</td>\
                <td>" + AP1[index]["bsnApIpAddress"] + "</td>\
                <td>" + AP1[index]["bsnAPType"] + "</td>\
                <td>" + AP1[index]["bsnAPIsStaticIP"] + "</td>\
                <td>" + AP1[index]["bsnAPNetmask"] + "</td>\
                <td>" + AP1[index]["bsnAPGateway"] + "</td>\
                <td>" + AP1[index]["bsnAPStaticIPAddress"] + "</td>\
                <td>" + AP1[index]["bsnAPBridgingSupport"] + "</td>\
                <td>" + AP1[index]["bsnAPGroupVlanName"] + "</td>\
                <td>" + AP1[index]["bsnAPIOSVersion"] + "</td>\
                <td>" + AP1[index]["bsnAPCertificateType"] + "</td>\
                <td>" + AP1[index]["bsnAPEthernetMacAddress"] + "</td>\
                <td>" + AP1[index]["bsnAPAdminStatus"] + "</td>\
                </tr>";
                }

                $("#APTbl1 tbody").html(apHTML1);
            }
            $("#totalInterface").html(totalInterface);
            $("#totaladminUP").html("<i class='fa fa-arrow-up text-success'></i> " + adminUp + " <i class='fa fa-arrow-down text-muted'></i> " + adminDown + " <i class='fa fa-ban text-danger'></i> " + adminUnknown);
            $("#totalPortUp").html("<i class='fa fa-arrow-up text-success'></i> " + portUp + " <i class='fa fa-arrow-down text-muted'></i> " + portDown + " <i class='fa fa-ban text-danger'></i> " + portUnknown);
            $("#pktIn").html(pktIn);
            $("#pktOut").html(pktOut);

            if (data["apJoint"] == undefined || data["apJoint"] == "No Such Object currently exists at this OID"){
                $("#APStat").hide();
                $("#APStat tbody").html("")

            }
            else{
                
                $("#APStat").show();
            $("#APStat tbody").html("<tr><td>"+data["apCpu"]+"</td><td>"+data["apJoint"]+"</td><td>"+data["apClient"]+"</td></tr>")
            }
        })
    }
    $(document).on("click", ".makefavourite", function() {
        var host = $(this).data("host");
        //Swal.fire(host);
        $.ajax({
            type: 'POST',
            url: "/makedevicefav/",
            data: {
                "host": host,
            },
            success: function(response) {
                Swal.fire(response["data"]);
            },
            error: function(xhr, status, error) {
                console.log(status, error);
                var err = eval("(" + xhr.responseText + ")");
                Swal.fire(err.Message);
            }
        });
    })
    $(document).on("click", ".threshold", function() {
        var host = $(this).data("host");
        window.open("/threshold?ip=" + host, "_self")
    })
    $(document).on("click", ".oid", function() {
        var host = $(this).data("host");
        window.open("/snmp/dashboard?ip=" + host, "_self")
    })
</script>


{% endblock %}